label {
    width: 95%;
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0;
}

.additem {
    justify-content: center;
    width: 100%;
    background: rgb(152, 180, 152) ;
    padding: 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.additemlabel {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}
.form {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    border-radius: 15px;
}
input[type="text"],
input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
    padding: 0 10px;
}
select {
    display: block;
    width: 30%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 0px;
    box-sizing: border-box;
}

button {
    display: table-row;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85px;
}

.cancelbtn {
    margin-left: 10px;
    display: table-row;
    margin-top: 20px;
    padding: 10px;
    background-color: #c11111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85px;
}

