label {
    display: block;
    margin-top: 10px;
    }
    input[type="text"], select {
    display: block;
    width: 30%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 50px;    
    box-sizing: border-box;
    }
    form {
        padding: 30px;
    }
    button {
    margin-left: 210px;
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
